body{
  padding: 0;
  margin: 0;
  padding-top: 1px;
  margin-top: -1px;

}

#mainElement{
  background-color: #ececec;
  min-height: 200vh;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

        /**
 display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    flex-grow: 1;
 */

.inner-circle-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;

  div {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-grow: 1;

    span{
      align-self: center;
    }

    &:nth-child(1){

    }

    &:nth-child(2){

    }
  }
}
